body {
    margin: 0;
}

.container {
    display: flex;
    justify-content: space-around;
}

button {
    border: 1px white solid;
    padding: 10px;
    width: 50px;
    height: 50px;
    border-radius: 5px;
}